.header {
	background-color: cornflowerblue;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header__logo {
	width: 10%;
	margin-left: 10px;
}
