.title-1 {
	text-align: center;
	margin: 50px 0;
}

.summary {
	display: flex;
	justify-content: space-around;
}

.summary__item {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	text-align: center;
	flex-basis: min-content;
}

#avantages,
#outils {
	margin: 100px 50px;
}
